*{
    font-family: roboto;
    text-align: center;
    font-size: 20px;
    display: grid;
}
img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* padding-bottom: 15px; */
}
h1{
    font-family: roboto;
    /* font-size: 30px; */
    font-size: 80px;
    font-weight: 20;
}
h1 span{
    font-size: 80px;
    font-weight: 900;
    color: #99d930;
}
span{
    font-weight: bold;
}
.header{
    background-color:  #D7D7D7;
    padding-top: 100px;
    padding-bottom: 100px;
}
h2{
    font-family: roboto;
    /* font-size: 25px; */
    font-size: 60px;
    font-weight: 20;
    padding-top: 10px;
    padding-bottom: 20px;
    display: inline-block;
    border-top: 1px solid #c4c4c4;
    border-bottom: solid #c4c4c4;
}
h2 span{
    font-size: 60px;
    font-weight: 900;
    color: #99d930;
}
p{
    font-size: 10px;
}
.about-me{
    background-color:  #98a1a644;
    padding-top: 100px;
    padding-bottom: 100px;
}
/* .theme{
    background-color: #252425;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
} */
h3{
    font-size: 36px;
}
.P2{
    font-size: 16px;
}
.articles{
    background-color:  #EAF9FF;
    padding-top: 100px;
    padding-bottom: 100px;
}
a{
    color: green;
    font-size: 10px;
    font-weight: 900;
}
a:hover{
    color:  #131313;
}
.button{
    color: #252425;
    background-color: #99d930;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
    text-decoration: none;
}
.button:hover,
.button:focus{
    color: #fff;
    background-color: #252425;
}
.articles .button{
    background-color: #99d930;
    color: #252425;
}
.articles .button:hover,
.articles .button:focus{
    background-color: #fff;
    color: #252425;
}

.theme {
    background-color: #252425;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}